* {
    font-family: "Josefin Sans", sans serif;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: center;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #ddd;
    gap: 10px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #3d405b;
}

.hamburger {
    background: none;
    border: none;
    color: #3d405b;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: .82rem 10px;
    color: #3d405b;
    border-bottom: 1px solid #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #e07a5f;
}

h1 {
    margin: 1rem 10px;
    color: #3d405b;
}

/* Animation Lesson */

#loader {
    margin: 2rem;
    width: 50px;
    /* width of the loader */
    height: 50px;
    /* height of the loader */
    border: 5px solid transparent;
    /* border width */
    border-color: #999 transparent #999 transparent;
    /* border colors (4 - 2 transparent) */
    border-radius: 50%;
    /* make it round */
    animation: spin 1.5s linear infinite;
    /* spin animation with duration and continuous */
    box-shadow: 0 0 1rem rgb(0 0 255 / 40%);
    /* blueish shadow effect on round div */
}

#loader::after {
    content: '⚙️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }

    /* spin 360 degrees */
}

@keyframes pulse {

    /* pulse the gear emoji */
    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
    }

    /* scale to 1 */
    50% {
        transform: translate(-50%, -50%) scale(1.25);
    }

    /* scale to 1.25 */
}


/* Transition practice on hover. */

.loader-t {
    /* the only thing that changed was using transition versus animation */
    transition: spin 1.5s linear infinite;
    margin: 2rem;
    width: 50px;
    position: relative;
    /* width of the loader */
    height: 50px;
    /* height of the loader */
    border: 5px solid transparent;
    /* border width */
    border-color: #999 transparent #999 transparent;
    /* border colors (4 - 2 transparent) */
    border-radius: 50%;
    /* make it round */
    animation: spin 1.5s linear infinite;
    /* spin animation with duration and continuous */
    box-shadow: 0 0 1rem rgb(0 0 255 / 40%);
    /* blueish shadow effect on round div */
}

.loader-t::after {
    /* the only thing that changed was using transition versus animation and the size and visibility at start */
    content: '⚙️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1.5s ease-in-out infinite;
    font-size: 1.1rem;
}

.loader-t:hover {
    transform: rotate(360deg);
    /* Rotate on hover */
}

.loader-t:hover::after {
    transform: translate(-50%, -50%) scale(1.5);
    /* Scale on hover */
}

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}